script(src='/javascripts/ace/ace.js')
script(src='/javascripts/ace/theme-twilight.js')
script(src='/javascripts/ace/mode-javascript.js')
script(src='/socket.io/socket.io.js')
script(src='/javascripts/collab.js')
script(type='text/javascript')
  var acee = null;
  window.onload = function() {
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/twilight");
    var JavaScriptMode = require("ace/mode/javascript").Mode;
    editor.getSession().setMode(new JavaScriptMode());
    acee = editor;
  }
.page-header
  h1 app.js 
    small my web application server script
.row
  .span11
    pre#editor(style='width:620px;height:500px', onkeypress="return key_handler(event)")
      = code
  .span3
    pre.members
    pre.chatbox
    form(action='',onsubmit='sendChat(); return false;')
      input.chat
      input(type='submit',style='display:none;')
