script(source='ace_editor/ace.js')
script(source='ace_editor/theme-twilight.js')
script(source='ace_editor/mode-javascript.js')
.page-header
  h1 app.js 
    small my web application server script
.row
  .span11
    #editor.span10(style='height:500px')
      var express = require('express');
      
      var app = module.exports = express.createServer();
      
      app.configure(function(){
        app.set('views', __dirname + '/views');
        app.set('view engine', 'jade');
        app.use(express.bodyParser());
        app.use(express.methodOverride());
        app.use(app.router);
        app.use(express.static(__dirname + '/public'));
      });
      
      app.configure('development', function(){
        app.use(express.errorHandler({ dumpExceptions: true, showStack: true }));
      });
      
      app.configure('production', function(){
        app.use(express.errorHandler());
      });
      
      // Routes
      app.get('/', function(req, res){
        res.render('index', {
          title: 'CodeCollab'
        });
      });
      
      app.listen(3000);
      console.log("Express server listening on port %d in %s mode", app.address().port, app.settings.env);
  .span3
    h3 Discussion chat
