.page-header
  h1 CodeCollab 
    small real time code collaboration
.row
  .span14(style='text-align:center;')
    a.btn.large.primary(href='/new') Want to start coding collaboratively?
    br
    br
    h3 Already have someone writing the code?
    br
    form(action='/join',method='get')
      input.large(type='text',name='id')
      br
      br
      input.btn.large.primary(type='submit', value='I want to code with them')
