!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .topbar
      .fill
        .container
          h3
            a(href='#') CodeCollab
          ul.nav
            li.active
              a(href='#') Home
            li
              a(href='#') About
            li
              a(href='#') Help
          form.pull-right
            input.input-small(type='text', placeholder='Username')
            input.input-small(type='text', placeholder='Password')
            button.btn(type='submit') Sign in
    .container
      .content!= body
      footer
        p Copyright © 2011, Codinators
