@font-face {
  font-family: 'Droid Sans Mono';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/droid.eot');
  src: local('Droid Sans Mono'), local('DroidSansMono'), url('/fonts/droid.woff') format('woff');
}
